<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phantasialand_anti_nausee">
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <application
    android:label="Phantasialand Anti-Nausée"
    android:icon="@mipmap/ic_launcher">
    <!-- Default Flutter application config -->

    <activity
      android:name="io.flutter.embedding.android.FlutterActivity"
      android:exported="true"
      android:theme="@style/LaunchTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
